@container(max-width:120px){.table-0373b817-e540-417d-8e5e-f72c3c241345-column-120{display: none;}}
@container(max-width:240px){.table-0373b817-e540-417d-8e5e-f72c3c241345-column-240{display: none;}}
@container(max-width:360px){.table-0373b817-e540-417d-8e5e-f72c3c241345-column-360{display: none;}}
@container(max-width:480px){.table-0373b817-e540-417d-8e5e-f72c3c241345-column-480{display: none;}}
@container(max-width:600px){.table-0373b817-e540-417d-8e5e-f72c3c241345-column-600{display: none;}}
@container(max-width:720px){.table-0373b817-e540-417d-8e5e-f72c3c241345-column-720{display: none;}}
@container(max-width:840px){.table-0373b817-e540-417d-8e5e-f72c3c241345-column-840{display: none;}}
