@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CultureSelector> Localizer
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="d-flex align-items-center">
    <button class="btn btn-link" @onclick='() => SetCulture("en-US")'>@Localizer["English"]</button>
    <span class="mx-1">|</span>
    <button class="btn btn-link" @onclick='() => SetCulture("ko-KR")'>@Localizer["Korean"]</button>
</div>

@code {
    private async Task SetCulture(string culture)
    {
        var cultureCookie = $"c={culture}|uic={culture}";
        await JSRuntime.InvokeVoidAsync("setCultureCookie", cultureCookie);
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}
