@container(max-width:120px){.table-ab4db86c-7d5e-460d-9564-c0d12a81122e-column-120{display: none;}}
@container(max-width:240px){.table-ab4db86c-7d5e-460d-9564-c0d12a81122e-column-240{display: none;}}
@container(max-width:360px){.table-ab4db86c-7d5e-460d-9564-c0d12a81122e-column-360{display: none;}}
@container(max-width:480px){.table-ab4db86c-7d5e-460d-9564-c0d12a81122e-column-480{display: none;}}
@container(max-width:600px){.table-ab4db86c-7d5e-460d-9564-c0d12a81122e-column-600{display: none;}}
@container(max-width:720px){.table-ab4db86c-7d5e-460d-9564-c0d12a81122e-column-720{display: none;}}
