@container(max-width:120px){.table-9ed4b39a-6a3d-4583-88e7-88e4b7fa83bd-column-120{display: none;}}
@container(max-width:240px){.table-9ed4b39a-6a3d-4583-88e7-88e4b7fa83bd-column-240{display: none;}}
@container(max-width:360px){.table-9ed4b39a-6a3d-4583-88e7-88e4b7fa83bd-column-360{display: none;}}
@container(max-width:480px){.table-9ed4b39a-6a3d-4583-88e7-88e4b7fa83bd-column-480{display: none;}}
@container(max-width:600px){.table-9ed4b39a-6a3d-4583-88e7-88e4b7fa83bd-column-600{display: none;}}
