@container(max-width:120px){.table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-120{display: none;}}
@container(max-width:240px){.table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-240{display: none;}}
@container(max-width:360px){.table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-360{display: none;}}
@container(max-width:480px){.table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-480{display: none;}}
@container(max-width:600px){.table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-600{display: none;}}
@container(max-width:720px){.table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-720{display: none;}}
