@container(max-width:120px){.table-95fef262-a922-4bfe-a4c4-b7dc2d92c3ad-column-120{display: none;}}
@container(max-width:240px){.table-95fef262-a922-4bfe-a4c4-b7dc2d92c3ad-column-240{display: none;}}
@container(max-width:360px){.table-95fef262-a922-4bfe-a4c4-b7dc2d92c3ad-column-360{display: none;}}
