@container(max-width:120px){.table-c5f21fe6-73ff-4a5e-9196-1afba15ada0e-column-120{display: none;}}
@container(max-width:240px){.table-c5f21fe6-73ff-4a5e-9196-1afba15ada0e-column-240{display: none;}}
@container(max-width:360px){.table-c5f21fe6-73ff-4a5e-9196-1afba15ada0e-column-360{display: none;}}
@container(max-width:480px){.table-c5f21fe6-73ff-4a5e-9196-1afba15ada0e-column-480{display: none;}}
@container(max-width:600px){.table-c5f21fe6-73ff-4a5e-9196-1afba15ada0e-column-600{display: none;}}
@container(max-width:720px){.table-c5f21fe6-73ff-4a5e-9196-1afba15ada0e-column-720{display: none;}}
