@page "/sales-material-knowledge-base"
<div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7ecf3] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#0e131b]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <h2 class="text-[#0e131b] text-lg font-bold leading-tight tracking-[-0.015em]">Sales Hub</h2>
            </div>
            <div class="flex items-center gap-9">
              <a class="text-[#0e131b] text-sm font-medium leading-normal" href="#">Home</a>
              <a class="text-[#0e131b] text-sm font-medium leading-normal" href="#">Contacts</a>
              <a class="text-[#0e131b] text-sm font-medium leading-normal" href="#">Deals</a>
              <a class="text-[#0e131b] text-sm font-medium leading-normal" href="#">Tasks</a>
              <a class="text-[#0e131b] text-sm font-medium leading-normal" href="#">Documents</a>
              <a class="text-[#0e131b] text-sm font-medium leading-normal" href="#">Reports</a>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <label class="flex flex-col min-w-40 !h-10 max-w-64">
              <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                <div
                  class="text-[#4d6a99] flex border-none bg-[#e7ecf3] items-center justify-center pl-4 rounded-l-lg border-r-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <input
                  placeholder="Search"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e131b] focus:outline-0 focus:ring-0 border-none bg-[#e7ecf3] focus:border-none h-full placeholder:text-[#4d6a99] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  value=""
                />
              </div>
            </label>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#e7ecf3] text-[#0e131b] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#0e131b]" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBDz4qDFK6rO0j5QmxW7dnB-kWd94VcTSNR9-Ax2QPcpirUs1PzvwMxxHjENPa9PknIeixhKIFOLh9QL3-HmHsvmkgSLcvpfW1tW9FKpw2lPxW0j3KYDy8ORUCPXbV-vUKIWv8xPPW2bq5UFz0wBdFX1assJLavwFzWntZs6rKZ5LzC6CWbep49WZNK1t5jgB_bCwT4C4j_AuLgEDc5OcqNI7Hedi6aZedYxzA2apJLQmr4XCKGtEXE4mlz03asmLfkc3ZemFR7w1Nc");'
            ></div>
          </div>
        </header>
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <h2 class="text-[#0e131b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Categories</h2>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-10" data-icon="Folder" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,72H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.4,15.4,0,0,0,39.38,216H216.89A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40ZM216,200H40V88H216Z"
                  ></path>
                </svg>
              </div>
              <p class="text-[#0e131b] text-base font-normal leading-normal flex-1 truncate">Product Information</p>
            </div>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-10" data-icon="Folder" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,72H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.4,15.4,0,0,0,39.38,216H216.89A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40ZM216,200H40V88H216Z"
                  ></path>
                </svg>
              </div>
              <p class="text-[#0e131b] text-base font-normal leading-normal flex-1 truncate">Sales Collateral</p>
            </div>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-10" data-icon="Folder" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,72H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.4,15.4,0,0,0,39.38,216H216.89A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40ZM216,200H40V88H216Z"
                  ></path>
                </svg>
              </div>
              <p class="text-[#0e131b] text-base font-normal leading-normal flex-1 truncate">Best Practices</p>
            </div>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-10" data-icon="Folder" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,72H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.4,15.4,0,0,0,39.38,216H216.89A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40ZM216,200H40V88H216Z"
                  ></path>
                </svg>
              </div>
              <p class="text-[#0e131b] text-base font-normal leading-normal flex-1 truncate">FAQs</p>
            </div>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-10" data-icon="Folder" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,72H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.4,15.4,0,0,0,39.38,216H216.89A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40ZM216,200H40V88H216Z"
                  ></path>
                </svg>
              </div>
              <p class="text-[#0e131b] text-base font-normal leading-normal flex-1 truncate">Case Studies</p>
            </div>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-10" data-icon="Folder" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,72H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.4,15.4,0,0,0,39.38,216H216.89A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40ZM216,200H40V88H216Z"
                  ></path>
                </svg>
              </div>
              <p class="text-[#0e131b] text-base font-normal leading-normal flex-1 truncate">Competitive Analysis</p>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#0e131b] tracking-light text-[32px] font-bold leading-tight">Knowledge Base</p>
                <p class="text-[#4d6a99] text-sm font-normal leading-normal">Find resources to help you close more deals</p>
              </div>
            </div>
            <div class="px-4 py-3">
              <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                  <div
                    class="text-[#4d6a99] flex border-none bg-[#e7ecf3] items-center justify-center pl-4 rounded-l-lg border-r-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    placeholder="Search for articles, documents, and more"
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e131b] focus:outline-0 focus:ring-0 border-none bg-[#e7ecf3] focus:border-none h-full placeholder:text-[#4d6a99] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                    value=""
                  />
                </div>
              </label>
            </div>
            <h2 class="text-[#0e131b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Featured Resources</h2>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#4d6a99] text-sm font-normal leading-normal">Product Information</p>
                  <p class="text-[#0e131b] text-base font-bold leading-tight">Understanding Our Product Suite</p>
                  <p class="text-[#4d6a99] text-sm font-normal leading-normal">Comprehensive guide to all our products, features, and benefits.</p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAnYCSO1pSPX01PmyIKb5bAoU0k_CJRFHSgLMdNV6L_J8EuR32GCiTFTFf23-UgSlztEYguQ1Zs4VANNZ2_6UNqHlwG5RRY9A-B3iMvpz1oQVGuzWV0S1PiMrCqCEwdRx2PSkc_b_mkrf5z5ZOxImxeuvOneaJ3vhfxjXJ312OXqkMLlE-pPduFwt7efgvL84QwDlwsJFClf89AaZJog0Fr1Ds5Nb9gX1eBXVnzx8wrfpMcQAoBqEeOcKUcwzRnvDNmG8sHLIhgYWMt");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#4d6a99] text-sm font-normal leading-normal">Sales Collateral</p>
                  <p class="text-[#0e131b] text-base font-bold leading-tight">Sales Presentation Template</p>
                  <p class="text-[#4d6a99] text-sm font-normal leading-normal">Download our customizable sales presentation template to impress your clients.</p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBhBbmF3ez1FuQcNUL_5qYaVOhhWKdqrCEnUoOwD-hGxtNS-wJfV2n7iJy879wFLeFemEA2klXME0fxfs3pXZRuHDTzEvthYQnPNOJVD8jKSZTyeRp3G7LQwMH0Zzgek2hAjPgpPbn24_GBdm6f5R_WhP_XxDPXR4gZv1vf8hxwtiaDz4nulcDWz0pQuermVMY1__Dc2ehnpMqTi7wjVgS6Qs554EH4WGI1KPJigZPBhSetWlO2drU7I_zFhChqjkXENimRyLDGVi5S");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#4d6a99] text-sm font-normal leading-normal">Best Practices</p>
                  <p class="text-[#0e131b] text-base font-bold leading-tight">Effective Sales Techniques</p>
                  <p class="text-[#4d6a99] text-sm font-normal leading-normal">Learn proven sales techniques to improve your closing rates and customer satisfaction.</p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDk5fMZO3C9lQNXio45zWqmHdZHFgZs9dWrWWhjlxyz_e4jQ8hhL2CY0xqAFCltNJbhqEdunwwgUdl1ft0ApLf3C21vW3LvYqiJjkOhcdi7e9ryaDu0xFTgPI2vkp8i7L2pNntSjuj6r6rFPQfQ2qosJIJk5B0gPtOm_VhjOZXA7mRMv8zFRqJDCEXEnFwh_AG2zeUuQ5Ilsid4rOBO1d2MRnRrcXEJrIUUDTl2ZsG-kQ2MeC4ycf8qhA4QvllsYUgQiFqIYF6CvCmE");'
                ></div>
              </div>
            </div>
            <h2 class="text-[#0e131b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Recent Updates</h2>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-[72px] py-2">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-12" data-icon="File" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col justify-center">
                <p class="text-[#0e131b] text-base font-medium leading-normal line-clamp-1">New Product Feature Release Notes</p>
                <p class="text-[#4d6a99] text-sm font-normal leading-normal line-clamp-2">Updated 2 days ago</p>
              </div>
            </div>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-[72px] py-2">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-12" data-icon="File" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col justify-center">
                <p class="text-[#0e131b] text-base font-medium leading-normal line-clamp-1">Competitive Analysis: Competitor X</p>
                <p class="text-[#4d6a99] text-sm font-normal leading-normal line-clamp-2">Updated 1 week ago</p>
              </div>
            </div>
            <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-[72px] py-2">
              <div class="text-[#0e131b] flex items-center justify-center rounded-lg bg-[#e7ecf3] shrink-0 size-12" data-icon="File" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col justify-center">
                <p class="text-[#0e131b] text-base font-medium leading-normal line-clamp-1">Sales Playbook for Q3</p>
                <p class="text-[#4d6a99] text-sm font-normal leading-normal line-clamp-2">Updated 2 weeks ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
