@container(max-width:120px){.table-90e7711b-05e4-42bf-8822-e250d5edb30e-column-120{display: none;}}
@container(max-width:240px){.table-90e7711b-05e4-42bf-8822-e250d5edb30e-column-240{display: none;}}
@container(max-width:360px){.table-90e7711b-05e4-42bf-8822-e250d5edb30e-column-360{display: none;}}
@container(max-width:480px){.table-90e7711b-05e4-42bf-8822-e250d5edb30e-column-480{display: none;}}
