@container(max-width:120px){.table-ea08c9dc-38a0-443e-b93b-5bc9be11998c-column-120{display: none;}}
@container(max-width:240px){.table-ea08c9dc-38a0-443e-b93b-5bc9be11998c-column-240{display: none;}}
@container(max-width:360px){.table-ea08c9dc-38a0-443e-b93b-5bc9be11998c-column-360{display: none;}}
@container(max-width:480px){.table-ea08c9dc-38a0-443e-b93b-5bc9be11998c-column-480{display: none;}}
@container(max-width:600px){.table-ea08c9dc-38a0-443e-b93b-5bc9be11998c-column-600{display: none;}}
